# Default ignored files
/shelf/
/workspace.xml
/.idea
/pack
*.pyc
config.json
playground.ipynb
/chroma_db
/Obelix
/New_splits_doc_summary
/ai_arxiv_doc_summary

# secure API keys
.env
# for virtual env python
venv/
.python-version